/*
Copyright © 2018 by Tiền Minh Vy
All Right Reserved - Do Not Disturb
Made with <3 by Vy Dev
*/

html {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #8fbede;
}

p {
  font-family: Tahoma, Arial, "Open Sans";
}

h1, h2, h3, h4, h5, h6 {
  font-family: Consolas, Arial, "Open Sans";
}

