/*
Copyright © 2018 by Tiền Minh Vy
All Right Reserved - Do Not Disturb
Made with <3 by Vy Dev
*/

._2t-a._50tj {
  height: 25px;
}

span._2md {
  background-image: url(https://i.imgur.com/diS136c.png?1);
  background-position: 0;
  height: 50px;
  width: 196px;
  margin-top: -11px;
}

._4kny {
      margin-top: 3px;
}

._2t-a._26aw._5rmj._50ti._2s1y {
  height: 50px;
}

a._19eb:hover {
  background-color: #ff000000;
}
